@using Mvc.Mailer;
<h4>Join Mühendisler Buradas</h4>
Hello <br />

I invite you to join Mühendisler Burada and enjoy your time!
<a href="@Url.Abs(Url.Action("Login", "Account", new { guid = ViewBag.group }))">Join Now</a>