@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<h4>Erişim engellendi</h4>

 <div class="alert alert-info">
            Bu sayfaya erişim izniniz bulunmamaktadır.
        </div>
