@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Hata.</h1>
    <h2 class="error">İstek gerçekleştirilirken bilinmeyen bir hata oluştu.</h2>
</hgroup>
